<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to an external CSS file -->
</head>
<body>
    <header>
        <h1>CAMERA PAGE</h1>
    </header>

    <main>
        <section>
            <h2>Section Title</h2>
            <p>This is a paragraph in a section.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>

    <script src="static/script.js"></script> <!-- Link to an external JavaScript file -->
</body>
</html>
