<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>SFU_SURGE_FitPal</title>
    </head>
    <body>
        <div class="header">
            <h1><a id = "logo" href = "/">FitPal</a></h1>
        </div>
        <div class="container">
            <h2>Username already exists</h2>
            <div class="section">

                <img alt="{{ top }}" class="border img-fluid" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">

            </div>
        </div>
    </body>
</html>