<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To FitPal!</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Link to an external CSS file -->
</head>
<body>
    <header>
        <h1 id = "welcometext">Welcome to FitPal</h1>
    </header>

    <main>
        <p id = "welcomesubtext">
            Your Ultimate Partner In Health: Achieve Your Goals With FitPal
        </p>

        <a href = "/login">
            <button class="button-56" role="button">Get Started</button>
        </a>
        
    </main>

    <footer>
        <p id = "footer">&copy; StormHacks 2024 - Artin, Andy, Heman, Dennis</p>
    </footer>

    <script src="static/script.js"></script> <!-- Link to an external JavaScript file -->
</body>
</html>