<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>FitPal.SFU.SURGE</title>
    </head>
    <body>
        <div class="container">
            <!-- <div class="section">

                <h2>Add an entry</h2>
                <form action="/" method="post">
                    <input autocomplete="off" autofocus name="person_name" placeholder="Enter Name" type="text">
                    <input autocomplete="off" autofocus name="reps" placeholder="Enter Reps" type="number">
                    <input autocomplete="off" autofocus name="score" placeholder="Enter Score" type="number">
                    <input type="submit" value="Add Entry">
                </form>

            </div> -->

            <div  class="leaderboard">

                <h2>Leaderboard</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Reps</th>
                            </tr>
                    </thead>

                    <tbody>
                        <!-- {% for user in users %}
                            <tr>
                                <td>{{ user[1] }}</td>
                                <td>reps: {{ user[2] }}/score: {{ user[3] }}</td>
                                <td>
                                    <form action="/remove" method="post">
                                        <input name="id" type="hidden" value="{{ user[0] }}">
                                        <input type="submit" value="Remove">
                                    </form>
                                </td> 
                            </tr>
                        {% endfor %} -->
                        <tr>
                            <td>User 1</td>
                            <td>reps: 10 <br></br> score: 100</td>
                            <td><a href="/remove?id=1">Remove</a></td>
                        </tr>
                        <tr>
                            <td>User 2</td>
                            <td>reps: 8 <br></br>score: 80</td>
                            <td><a href="/remove?id=2">Remove</a></td>
                        </tr>
                        <tr>
                            <td>User 3</td>
                            <td>reps: 1220 <br></br>score: 90</td>
                            <td><a href="/remove?id=2">Remove</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>