<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>SFU_SURGE_FitPal</title>
    </head>
    <body>
        <div class="header">
            <h1>FitPal</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add an entry</h2>

                <form action="/leaderboard" method="post">
                    <input autocomplete="off" autofocus name="reps" placeholder="Enter Reps" type="number" min="0">
                    <input autocomplete="off" autofocus name="score" placeholder="Enter Score" type="number" min="0">
                    <input type="submit" value="Update">
                </form>

            </div>

            <div class="section">

                <h2>Leaderboard</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Reps</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user[1] }}</td>
                                <td>reps: {{ user[2] }}/score: {{ user[3] }}</td>
                                <td>
                                    <form action="/remove" method="post">
                                        <input name="id" type="hidden" value="{{ user[0] }}">
                                        <input type="submit" value="Remove">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <form action="/logout" method="get">
                    <input type="submit" value="Logout">
                </form>
            <div>

            </div>
        </div>
    </body>
</html>
